<nav class="menu-bar">
  <ul>
    <li class="NavBarLogo">
      <img src="/logo.png" alt="Band Logo" class="logo" />
    </li>
    <li><a href="/">Main</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/merchandise">Merchandise</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/cart">Cart</a></li>
  </ul>
</nav>
