.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url(//images.pexels.com/photos/8694329/pexels-photo-8694329.jpeg);
    background-size: 1250px;
    background-position: center top;
}

/* nav bar */
.menu-bar {
    position: static;
    background-color: #222;
    margin-top: 0px;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    justify-content: right;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    
}

.menu-bar li {
    margin: 0;
    
}

.menu-bar a {
    display: block;
    color: rgb(243, 0, 0);
    text-decoration: none;
    padding: 15px 20px;
}

.menu-bar a:hover {
    background-color: #444;
}

#dashboardtitle {
    font-size: 55px;
    font-family: "Montenegrin Gothic One", serif;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: rgb(206, 0, 0);
    background-color: rgb(22, 22, 22);
    padding: 10px;
    padding-top: 0px;
    border-radius: 15px;
}

#upcomingevents {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    color: rgb(206, 0, 0);
    background-color: rgb(22, 22, 22);
    padding: 10px;
    margin: 0;
    border-radius: 15px;

}

#details {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
