<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Merchandise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap"
      rel="stylesheet" />

  </head>

  <body>
    <%- include('partials/nav') %>
      <main class="product-grid">
        <div class="product">
          <img src="images/tour-hoodie.jpg" alt="Tour Hoodie" />

          <div class="product-info">
            <h2>Tour Hoodie</h2>
            <p class="price">$57</p>
          </div>

          <button>Add to Cart</button>
        </div>

        <div class="product">
          <img src="images/official-tshirt.jpg" alt="Official T-Shirt" />

          <div class="product-info">
            <h2>Official T-Shirt</h2>
            <p class="price">$47</p>
          </div>

          <button>Add to Cart</button>
        </div>

        <div class="product">
         <img src="images/poster.jpg" alt="Poster">

          <div class="product-info">
            <h2>Poster</h2>
            <p class="price">$15</p>
          </div>

          <button>Add to Cart</button>
        </div>
      </main>
    </body>
  </html>
